<h3>Equipment</h3>
<ul>
  <li *ngFor="let piece of equipment">
  
    <span *ngIf="equipmentObjectBeingEdited !== piece; else elseBlock">

      <span (click)="edit(piece)" class="editable-text">{{piece.name}}</span>
      <button (click)="remove(piece)">remove</button>

    </span>

 

  <ng-template #elseBlock>
    <!-- edit state of member -->
    <input #updatedName (keyup.enter)="save(updatedName)" value="{{piece.name}}"/>
    <button (click)="save(updatedName.value)">save</button>
 </ng-template>



</li>

</ul>
<input #name type="text"/>
<button (click)="add(name.value)">Add</button>


